<footer class="page-footer blue-grey darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><strong>5 WHY ONLINE</strong></h5>
                <p class="grey-text text-lighten-4">LEAN IN ACTION</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">For developers</h5>
                <ul>
                    <li><a target="_blank" class="grey-text text-lighten-3"
                            href="https://developer.mozilla.org/ru/docs/Web/HTML">HTML</a></li>
                    <li><a target="_blank" class="grey-text text-lighten-3"
                            href="https://developer.mozilla.org/ru/docs/Web/CSS">CSS</a>
                    </li>
                    <li><a target="_blank" class="grey-text text-lighten-3"
                            href="https://developer.mozilla.org/ru/docs/Web/JavaScript">JavaScript</a></li>
                    <li><a target="_blank" class="grey-text text-lighten-3" href="https://nodejs.org/en/">Node</a></li>
                    <li><a target="_blank" class="grey-text text-lighten-3"
                            href="https://account.mongodb.com">MongoDB</a>
                    </li>
                    <li><a target="_blank" class="grey-text text-lighten-3" href="https://id.heroku.com">Heroku</a>
                    </li>
                    <li><a target="_blank" class="grey-text text-lighten-3"
                            href="https://developers.google.com/chart">Google Chart</a>
                    </li>
                    <li><a target="_blank" class="grey-text text-lighten-3"
                            href="https://materializecss.com/getting-started.html">Materialize</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

    $(document).ready(function () {
        $('select').formSelect();
    });

</script>
</body>

</html>