<%- include('layouts/header'); %>
    <main>
        <div class="container">
            <div class="row">
                <div class="draw" id="shift"></div>
                <div class="draw" id="reason"></div>
                <div class="draw" id="impact"></div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/script/script.js"></script>
    <%- include('layouts/footer'); %>