<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/why.png" type="image/x-icon">
    <title>Registration</title>
</head>

<body>

    <div class="container">
        <form action="/user/registration" method="post">
            <h3>REGISTRATION 5 WHYS</h3>
            <div class="row">
                <div class="input-field col s12 m4 l4">
                    <input id="first_name" type="text" class="validate" name="name">
                    <label for="first_name">Имя Фамилия</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4 l4">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn" type="submit">Registration</button>
            </div>
            <div class="row">
                <a href="/login">Login</a>
            </div>
    </div>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>